<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <!--全局参数-->
    <Properties>
        <Property name="pattern">%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{1} %X{ServiceId} - %m%n</Property>
    </Properties>
    <Loggers>

        <Root level="${log4j2.level}">
            <AppenderRef ref="console"></AppenderRef>
            <AppenderRef ref="rolling_file"></AppenderRef>
        </Root>
        <!-- &lt;!&ndash;只将com.kk.springboot.demo写到文件&ndash;&gt;
         <Logger name="com.kk.springboot.demo" level="${log4j2.level}">
             <AppenderRef ref="file"></AppenderRef>
         </Logger>-->
    </Loggers>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <!--控制台只输出level及以上级别的信息-->
            <ThresholdFilter level="${log4j2.level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>
        <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
        <RollingFile name="rolling_file"
                     fileName="${log4j2.root.path}.log"
                     filePattern="${log4j2.root.path}_%d{yyyy-MM-dd}.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <!--<SizeBasedTriggeringPolicy size="1 KB"/>-->
            </Policies>
        </RollingFile>
        <File name="file" fileName="${log4j2.package.path}.log">
            <!--&lt;!&ndash;控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）&ndash;&gt;-->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
</configuration>